.header.header-color-dark {
    background-color: #000435;
}
.template-style-dark .pt-page {
    background-color: #000435;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #ff697d;
    box-shadow: 1px 2px 25.5px #000;
}
.template-style-dark .pt-page.section-without-bg{
    border:none;
    box-shadow: none;
}
.my-photo img {
    border-radius: 50%;
}
.template-style-dark .section-title {
    color: #fff;
}
.border-block-top-110{
    border-radius: 20px 0px 0px 0px;
}
.template-style-dark .home-page-block h2{
    text-shadow: 1px 2px 4.5px #1d1d1d;
}
.template-style-dark .home-page-description{
    color: #000a80;
    text-shadow: 1px 2px 1.5px #a0a0a0;
    font-weight: 700;
}

.template-style-dark .mobile-header {
    background-color: #000435;
    border-color: #000435;
}
.site-title{
    color:#ff697d !important;
}
.mCS_img_loaded,.portfolio-grid img,.my-photo-block img{
    border-radius: 20px;
    border: 5px solid #fff;
}
.portfolio-grid figure a:hover div{
    border-radius: 20px;
}
.portfolio-grid figure a div h5{
    color:#ff697d; 
}
.btn-theme{
    margin: 10px 0px;
    font-size: 1rem !important;
    padding: 10px !important;
}
.skill-list li{
    color: #fff;
}
@media only screen and (max-width:990px){
    .template-style-dark .pt-page{
        border-radius: 0px;
    }
}
.portfolio-single-outer{
    background-color: #000435;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #ff697d;
    box-shadow: 1px 2px 25.5px #000;
    padding: 30px;
    color: #fff;
}
.top-home-link{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 6.5px #9c9c9c;
    border-bottom: 1px solid #bbbaba;
}
.portfolio-single{
    padding-top: 50px;
}
.portfolio-single .section-title{
    font-size: 3rem;
    color:#ff697d;
}
.tech-used strong{
    color:#ff697d;
}
.detail-left{
    width: fit-content;
    float: left;
}
.visit-right{
    width: fit-content;
    float: right;
}
.single-portfolio-img{
    border-radius: 20px;
    border: 5px solid #fff;
    margin-bottom: 20px;
}
figure.item p{
    text-align: center;
}
figure.item a.btn{
    padding: 5px 10px !important;
    color: #ff697d !important;
    display: inline-block !important;
    float: initial;
}
figure.item a.btn:hover,
figure.item a.btn:focus{
    color: #fff !important;
}